.logo
    &_wrapper
        width: 160px
        height: 24px
        margin-right: 385px
        

.navbar
    height: 124px
    width: 100%

    display: flex
    justify-content: flex-start
    align-items: center
    