@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: '';
  content: none;
}

q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  background: #cbc6c6;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 980px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 780px;
  }
}

@media screen and (max-width: 510px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

.hiphen {
  display: block;
}

.promo {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(2, 55, 135, 0.9)), color-stop(99.97%, rgba(81, 38, 174, 0.47)), color-stop(99.98%, rgba(38, 92, 174, 0.01)), color-stop(99.99%, rgba(195, 195, 196, 0.01)), to(#76A6EF)), url("../img/promo/promo_bg.jpg") center/cover no-repeat;
  background: linear-gradient(0deg, rgba(2, 55, 135, 0.9) 0, rgba(81, 38, 174, 0.47) 99.97%, rgba(38, 92, 174, 0.01) 99.98%, rgba(195, 195, 196, 0.01) 99.99%, #76A6EF 100%), url("../img/promo/promo_bg.jpg") center/cover no-repeat;
  height: 865px;
  color: #fff;
}

.promo_content {
  position: absolute;
  top: 283px;
  left: 0;
  font-family: 'Nunito', sans-serif;
}

.promo_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 30px;
}

.promo_subtitle {
  font-size: 29px;
  font-weight: 400;
  line-height: 1.4;
}

.logo_wrapper {
  width: 110px;
  height: 24px;
  margin-right: 385px;
}

.navbar {
  height: 114px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  font-size: 18px;
}

.cards_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 1250px;
}

.card {
  width: 399px;
  height: 547px;
  background: yellow;
  color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
          box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
}

.card_img {
  height: 414px;
  overflow: hidden;
}

.card_footer {
  height: 133px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card_footer_icon {
  position: absolute;
  top: 47px;
  left: 50px;
}

.card_text {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-left: 120px;
  width: 282px;
  line-height: 1.5;
}
