@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: '';
  content: none;
}

q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  background: #093A7A;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 980px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 780px;
  }
}

@media screen and (max-width: 510px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

.hiphen {
  display: block;
}

.promo {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(2, 55, 135, 0.9)), color-stop(99.97%, rgba(81, 38, 174, 0.47)), color-stop(99.98%, rgba(38, 92, 174, 0.01)), color-stop(99.99%, rgba(195, 195, 196, 0.01)), to(#76A6EF)), url("../img/promo/promo_bg.jpg") center/cover no-repeat;
  background: linear-gradient(0deg, rgba(2, 55, 135, 0.9) 0, rgba(81, 38, 174, 0.47) 99.97%, rgba(38, 92, 174, 0.01) 99.98%, rgba(195, 195, 196, 0.01) 99.99%, #76A6EF 100%), url("../img/promo/promo_bg.jpg") center/cover no-repeat;
  height: 865px;
  color: #fff;
}

.promo_content {
  position: absolute;
  top: 283px;
  left: 0;
  font-family: 'Nunito', sans-serif;
}

.promo_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 30px;
}

.promo_subtitle {
  font-size: 29px;
  font-weight: 400;
  line-height: 1.4;
}

.logo_wrapper {
  width: 110px;
  height: 24px;
  margin-right: 385px;
}

.navbar {
  height: 114px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  font-size: 18px;
}

.cards_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 1250px;
  margin-bottom: 100px;
}

.card {
  width: 399px;
  height: 547px;
  background: yellow;
  color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
          box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
}

.card_img {
  height: 414px;
  overflow: hidden;
}

.card_footer {
  height: 133px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card_footer_icon {
  position: absolute;
  top: 47px;
  left: 50px;
}

.card_text {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-left: 120px;
  width: 282px;
  line-height: 1.5;
}

.why_block {
  margin-bottom: 98px;
}

.why_block_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why_block_title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #323232;
  margin-bottom: 78px;
}

.why_block_subtitle {
  font-weight: 400;
  font-size: 29px;
  color: #4A4A4A;
  margin-bottom: 23px;
}

.why_block_item {
  margin-left: 119px;
  margin-bottom: 57px;
  position: relative;
}

.why_block_icon {
  position: absolute;
  background: url("../icons/why_block/pricing_1.svg") center/cover no-repeat;
  width: 95px;
  height: 92px;
  top: -19px;
  left: -118px;
}

.why_block_icon_experts {
  background: url("../icons/why_block/experts_2.svg") center/cover no-repeat;
}

.why_block_icon_equipment {
  background: url("../icons/why_block/equipment_3.svg") center/cover no-repeat;
}

.why_block_image_wrapper {
  position: relative;
  z-index: 2;
}

.why_block_image_wrapper::after {
  display: block;
  content: '';
  background: #FFC839;
  width: 477px;
  height: 431px;
  position: absolute;
  top: 60px;
  left: -74px;
  z-index: -1;
}

.input_block {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 122px;
}

.input_block_content {
  width: 100%;
  min-height: 437px;
  background: #FFF5DA;
  padding-top: 127px;
}

.input_block_title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: #323232;
  margin-bottom: 25px;
}

.input_block_text {
  text-align: center;
  font-weight: 400;
  font-size: 29px;
  color: #646464;
  margin-bottom: 25px;
}

.search {
  margin: 0 auto;
  width: 702px;
  height: 78px;
}

.input_wrapper {
  min-width: 702px;
  height: 78px;
  position: relative;
  background: #fff;
  border: 1px solid #000;
}

.input_wrapper .flag::after {
  content: '';
  position: absolute;
  background: url("../icons/input_block/flag.svg") center/cover no-repeat;
  width: 42px;
  height: 30px;
  top: 22px;
  left: 23px;
}

.input_wrapper .input_btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.input_wrapper input {
  width: 100%;
  padding: 22px 0 5px 110px;
  background: transparent;
  border: none;
  outline: none;
  color: #646464;
  font-size: 24px;
}

.btn {
  width: 151px;
  height: 61px;
  padding: 14px 45px;
  background: #FFC839;
  font-size: 29px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

.gallery_ideas_1 {
  background: url("../img/ideas_block/ideas_1.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery_ideas_2 {
  background: url("../img/ideas_block/ideas_2.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery_ideas_3 {
  background: url("../img/ideas_block/ideas_3.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery_ideas_4 {
  background: url("../img/ideas_block/ideas_4.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery_ideas_5 {
  background: url("../img/ideas_block/ideas_5.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery_ideas_6 {
  background: url("../img/ideas_block/ideas_6.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery_ideas_7 {
  background: url("../img/ideas_block/ideas_7.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery_ideas_8 {
  background: url("../img/ideas_block/ideas_8.jpg") center/cover no-repeat;
  width: 292px;
  height: 406px;
}

.gallery {
  margin-bottom: 128px;
}

.gallery_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.footer {
  background: #093A7A;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px 41px;
}

.footer_menu_gap {
  margin-bottom: 30px;
}

.footer_menu_item {
  color: #CACACA;
  font-size: 16px;
  font-weight: 400;
}

.footer_upper {
  padding-top: 45px;
  height: 91px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-bottom: 28px;
}

.footer_middle {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-bottom: 40px;
}

.footer_middle_title {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 23px;
}

.footer_middle_subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E5E5E5;
  margin-bottom: 15px;
}

.footer_lower {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #CACACA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_lower_logo {
  width: 110px;
  display: inline-block;
  margin-right: 60px;
}

.footer_lower_copyright {
  margin-right: 50px;
}

.footer_lower_address {
  margin-right: 40px;
}

.footer_lower_mail {
  margin-right: 100px;
}

.footer_lower_stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.footer_lower_stores_google_play {
  width: 133px;
  height: 46px;
}

.footer_lower_stores_app_store {
  width: 134px;
  height: 46px;
}
