@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800;900&display=swap");
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-ExtrabldIt.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: '';
  content: none;
}

q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1238px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  background: #86f312a0;
}

.header .logo {
  color: green;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 15px green;
  position: relative;
}

.header .logo::after {
  content: attr(data-count);
  position: absolute;
  top: -30px;
  right: -30px;
  width: 30px;
  height: 30px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 50%;
  background: #e5ad07;
}

.menu {
  text-transform: uppercase;
}

.menu_item {
  display: block;
  padding: 10px 0 10px 20px;
}

.menu_link {
  position: relative;
}

.menu_link:hover::after {
  content: '';
  display: inline-block;
  width: 40px;
  border-bottom: 1px solid #000;
  position: absolute;
  bottom: -5px;
  left: 10px;
}

.bg_wrapper {
  min-height: 500px;
  background: url("../img/main_bg.jpg") right top/cover no-repeat;
}

.input_wrapper {
  margin: 50px;
  position: relative;
  padding: 10px 40px;
  border-radius: 10px;
  background: #929751;
}

.input_wrapper .zoom::after {
  content: '';
  position: absolute;
  background: url("../img/search.svg") center/cover no-repeat;
  width: 20px;
  height: 20px;
  top: 30%;
  left: 50px;
}

.input_wrapper input {
  width: 100%;
  padding: 20px 0 20px 30px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  border-bottom: 1px solid orange;
}

.input_wrapper input::-webkit-input-placeholder {
  color: white;
}

.input_wrapper input:-ms-input-placeholder {
  color: white;
}

.input_wrapper input::-ms-input-placeholder {
  color: white;
}

.input_wrapper input::placeholder {
  color: white;
}

.content_image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: circle(40% at 0 50%);
          clip-path: circle(40% at 0 50%);
  -webkit-clip-path: ellipse(200px 250px at 70% 30%);
          clip-path: ellipse(200px 250px at 70% 30%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 50%, 0 100%);
}

.grid_container {
  font-family: ProximaNova;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "sidebar content";
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  -ms-grid-rows: 80px 1fr;
      grid-template-rows: 80px 1fr;
}

.grid_container .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.grid_container .sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background: #b3be88d3;
}

.grid_container .content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}
