.btn 
    display: flex
    justify-content: center
    align-items: center
    border: none
    border-radius: 4px
    color: $clr-white

    &_block 
        display: flex

    &_green 
        background: $clr-green-1
        &:hover
            background: $clr-green-3

    &_gray 
        background: $clr-gray-2
        &:hover
            background: $clr-gray-7


    &_promo_green
        width: 136px
        height: 38px
        margin-right: 13px

    &_promo_gray
        width: 148px
        height: 38px
