*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    --clr-white: #fff;
    --clr-gray-1: #f1efec;
    --clr-gray-2: #939393;
    --clr-gray-3: #373838;
    --clr-gray-4: #333;
    --clr-green-1: #46a651;
    --clr-green-2: #348e3e;
    --clr-blue-1: #3b5997;
    --clr-brown-1: #9b242d;
}

body {
    font-family: Arial, sans-serif;
    font-size: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 102.4rem;
    margin: 0 auto;
}

.main-section {
    display: flex;
    flex-direction: column;
}

.nav-menu_list {
    list-style-type: none;
}

.nav-menu_list-item {
    display: block;
}


/* header block */

.header-block {
    background: var(--clr-white);
    flex: 1 0 11.4rem;
    display: flex;
}

.header-block_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 0.9rem;
}

.header-block_nav-logo {
    width: 21.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-block_nav-logo-img {
    width: 21.2rem;
    height: 4.5rem;
}

.header-nav {
    width: 67rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 6.6rem; */
    color: var(--clr-gray-2);
    line-height: 2.2;
    text-transform: uppercase;
    color: var(--clr-gray-4);
}


/* promo block */

.promo-block {
    flex: 1 0 60rem;
    background: url('../images/image.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-block-content {
    color: var(--clr-white);
}

.promo-block-header {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.promo-block-text {
    font-size: 2.4rem;
    line-height: 3.8rem;
    text-align: center;
    width: 70rem;
}


/* logo block */

.logo-block {
    flex: 1 0 31.6rem;
    display: flex;
}

.logo-block_logo {
    flex: 1 0 31.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-gray-1);
}

.logo-block_donate {
    flex: 1 0 31.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-brown-1);
}

.logo-block_donate-content {
    color: var(--clr-white);
    text-align: left;
}

.logo-block-donate-content-header {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 400;
}

.logo-block-donate-content-text {
    font-size: 1.6rem;
    line-height: 2.2;
}


/* sign block */

.sign-block {
    flex: 1 0 31.7rem;
    display: flex;
}

.sign-block_subscribe {
    background: var(--clr-green-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 67rem;
}

.sign-block_subscribe-content {
    padding-right: 6rem;
    color: var(--clr-white);
    text-align: right;
}

.sign-block_subscribe-content-header {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.sign-block_subscribe-content-text {
    width: 48rem;
    font-size: 1.6rem;
    line-height: 2.2;
    margin-bottom: 2.8rem;
}

.btn {
    padding: 1.4rem 3rem;
    color: var(--clr-white);
    font-size: 1.6rem;
    line-height: 2.2;
}

.btn-green {
    background: var(--clr-green-2);
}


/* facebook block */

.facebook-block {
    flex: 1 0 31.6rem;
    display: flex;
}

.facebook-block_invitation {
    background: var(--clr-blue-1);
    flex: 1 0 31.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-block_invitation-content {
    padding-top: 3rem;
}

.facebook-block_invitation-content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.facebook-block_invitation-content-text {
    font-size: 1.6rem;
    line-height: 2.2;
    text-transform: capitalize;
    color: var(--clr-white);
}

.footer-block {
    flex: 1 0 12.6rem;
    background: var(--clr-gray-3);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-nav {
    width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.6rem;
    font-size: 1.5rem;
    color: var(--clr-gray-2);
    line-height: 2.2;
    text-transform: capitalize;
}