.navbar
    height: 114px
    display: flex
    justify-content: space-between
    align-items: center

.logo_link
    position: relative

.logo_link::after
    position: absolute
    content: ''
    background: url('../icons/logo_icon/logo.svg') center/cover no-repeat 
    width: 160px
    height: 39px
    top: 50%
    left: 91px
    transform: translate(0, -50%)
    @include sl
        left: 21px
