.list
    +lg
        display: flex
        flex-wrap: wrap
        justify-content: center

.container
    +lg
        padding: 160px
    +md
        padding: 80px 
    +sm
        padding: 100px 

    
.cards
    +cards
    &_header
        +cards_header 
    &_header::before
        @extend %plug
    &_text
        +cards_text
        
.cards_header 
    +sm
        font-size: 24px 
    +sl
        font-size: 20px 

.cards_text 
    +sm
        font-size: 14px 
    +sl
        font-size: 12px 

.cards:hover
        background: $colors-primary

.cards_header_black_icon::before
    @extend %plug2

.cards_header_number::before
    @extend %plug3

.cards_header_number_02::before
    @extend %plug4

.cards_header_number_03::before
    @extend %plug5


.cards_header_number_03::before
    +cards_number_03

%plug
    +cards_icon('../icons/cards/icon_red.svg', 72, 72)

%plug2
    +cards_icon('../icons/cards/icon_black.svg', 54, 62) 

%plug3
    +cards_number

%plug4
    +cards_number_02    

%plug5
    +cards_number_03


