.cards
    +cards
    &_header
        +cards_header 
    &_header::before
        @extend %sein
    &_text
        +cards_text


.cards_header_black_icon::before
    @extend %sein2

.cards_header_number::before
    @extend %sein3



@each $icon in '01','02','03'
    .cards_header_number_#{$icon}::before
        position: absolute
        content: '#{$icon}'
        top: 92px
        left: 36px

%sein
    +cards_icon('../icons/cards/icon_red.svg', 72, 72)

%sein2
    +cards_icon('../icons/cards/icon_black.svg', 54, 62) 

%sein3
    +cards_number


